/*****INSCRIPTION******/
#form-inscription{
    margin-top: 30px; 
}

#form-inscription .row{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
     -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
}
#form-inscription .row2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
     -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    text-align: center;
}
#form-inscription .row2>label{
    margin-bottom: 5px;
}
#form-inscription .left, #form-inscription .center, #form-inscription .right{
    display: inline-block;
}
#form-inscription label{
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 5px;
}
#form-inscription .row2 label{
   /* float:left; */
    margin-right:20px;
}
#form-inscription #inscription_nombreEnfant, #form-inscription #inscription_ageEnfant{
    border: none;
    box-shadow: none;
    padding: 0;
}
#form-inscription .row2 input, #form-inscription .row2 label{
    margin:0;
    padding: 0;
}
#form-inscription #inscription_nombreEnfant label, #form-inscription #inscription_ageEnfant label{
   text-transform: lowercase;
    margin-right: 25px;
}
#form-inscription #inscription_nombreEnfant input, #form-inscription #inscription_ageEnfant input{
   /* position: relative;
    top: -3px;
    left: -290px;*/
     margin-right: 6px;
}
.valider #inscription_Valider{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
/*****CONNEXION******/
#formConnexion{
   
}