{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Signaler {% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

	 <div id="formSignalement" class="container home form-group col-md-8 col-md-offset-2">


	       <form action="#" method="post">

               <div class="row">
                   <div class="left">
                       {{ form_label(form.signaler) }}
                        {{ form_widget(form.signaler) }}
                    </div>

                    <div class="valider">
                        {{ form_widget(form.Valider) }}  
                    </div>
            </div>
               
               
               {{ form_widget(form._token) }}
        </form>
      

	  </div >



{% endblock %}