{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Accueil{% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

	<div class="container home">

		<ul class="pagination">
			{% for p in topArticle %}
			    <li>
			      	<p>{{p.Titre}}</p>
			    </li>
			{% endfor %}
		</ul>
	</div>



{% endblock %}