{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Article{% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}
    <div>
        {% for c in article.categories%}{{dump(c)}}{% endfor %}
    </div>

{% endblock %}